#header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E6E6FA;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#navbar {
    align-items: center;
    display: flex;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.4s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#navbar li a:hover,
#navbar li a:active {
    color: aquamarine;
}

#navbar li a.active1::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #A0A0B4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* ==================== END OF HEADER CSS ==================== */



#hero {
    background-image: url(https://i.pinimg.com/originals/d5/24/16/d52416c2b72e318d8afc9a00d831becb.png);
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hero h2 {
    padding-left: 350px;
}

#hero h4 {
    padding-bottom: 15px;
    padding-left: 350px;
}

#hero h1 {
    color: #088178;
    padding-left: 350px;
}

/* ==================== PRODUCT CSS ==================== */
#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 22%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #A0A0B4;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 17px 0 17px;
    transition: 0.2s ease;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#product1 .pro:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .des {
    text-align: left;
    padding: 10px 0;
}

#product1 .des span {
    color: #808063;
    font-size: 12px;
}

#product1 .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

/* ==================== END OF PRODUCT CSS ==================== */








/* ==================== FOOTER CSS ==================== */

footer {
    background: #E3E4FA;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

footer::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #A0A0B4;
    z-index: -1;
}




.fcontent {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: center;
    flex-direction: column;
    text-align: center;
}


h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;

}

p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.soc {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.soc li {
    margin: 0 10px;
}

.soc a {
    text-decoration: none;
    color: black;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.soc a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.soc a:hover i {
    color: #82CAFF;
}
